/*main board*/
#mainGameBoard{
    display: flex;
    width: 800px;
    height: 800px;
    margin: 0 auto;
    border: 1px solid red;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 8px;
    text-transform: uppercase;
    font-weight: bolder;
    color: black;}

/*Main Property Rectangle*/
.propertyRec{
    width: 65.55px;
    height: 105px;
    border: 3px solid black;
    padding: 0px;
    background-color: white;
    margin-right: 5px;}

/*Name and Cost*/
.propertyName .propertyCost{
    padding-left: 5px;
    padding-right: 5px;}
.propertyName{
    height: 50%;
    padding-top: 10px;
    text-align: center;}
.propertyCost{
    height: 30%;
    text-align: center;}
.propertyCode{
    height: 20%;
    border-bottom: 3px solid black;}

/*Property Color Bars*/
.blueBar{background-color: rgb(99, 225, 241);}
.brownBar{background-color: brown;}

